$colors : 'color-0' #e6e6e6 ,
'color-1' #f0f0f0,
'color-2' #8abae0;
@each $name ,$value in $colors{
    .Text-{
        &#{$name}{
            color:$value;
        }
    }
    .bg-{
        &#{$name}{
            background-color:$value;
        }
    
    }
}
@each $name ,$value in $colors{
    .#{$name}-{
        .colorText{
            color:$value;
        }
    }
    .#{$name}-{
        .bg{
            background-color:$value;
        }
    
    }
}
.buttons .btn:hover{
    background-color: #cacaca;
}
span:hover{
    cursor: pointer;
    background-color: #cacaca;

}
.calculator{
    width:500px;
    margin: 100px auto;
}
.display{
    font-size: 30px;
}

if (operation != '') {
    switch (operation) {
        case "+":
            memory1 = memory1 + memory2;
            break;
        case "-":
            memory1 = memory1 - memory2;
            break;
        case "/":
            memory1 = memory1 / memory2;
            break;
        default:
            memory1 = memory1 * memory2;
            break;
        
    }  
}
else{
    if (operation = '') 
    memory1 = parseFloat(display.textContent);
}